<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/login.css">

    
    <!-- https://www.youtube.com/watch?v=eeHqZeJ9Vqc&t=70s -->
</head>

     
     <img src="../static/HR_LOGO.png" width="" height="">
            <style>
                img {
                    margin: 10px;
                    width: 90px;
                    height: 90px;
                    }
            </style>
 
    <body>
        
        <a href="/studentpage">
            <div>students page &#9812;</div>
        </a>
        <div class = "center">
            <h1>Login</h1>
            <form action="/login" method ="post">

                      <input type="text" id="username" name="username" class="txt_field" placeholder="Username" required>

                      <input type="password" id="password" name="password" class="txt_field" placeholder="Password" required>
                     
                <input type="submit" value="Login">

            </form>
                <p></p>
        </div>
    </body>